.App {
  text-align: center;
}

.part {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.center {
  display: flex;
  justify-content: center;
}

#desc {
  background: -webkit-linear-gradient(rgba(163, 208, 209, 0.836) 25%, #ffffff5d 50%, rgba(0,212,255,1) 25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
