@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Oleo Script Swash Caps', cursive , sans-serif ,Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(73,83,144,1) 51%, rgba(0,212,255,1) 100%);
}

button {
  cursor: pointer;
}
